html{
  color: black;
}

.navigation{
  margin-bottom: 30px;
}

.footer{
  margin-top: 40px;
  min-height: 40px;
  font-size: 0.75rem;
}

.directions{
  margin-top: 20px;
}

.list-inline-item {
  padding: .5rem 1rem;
}

.slideshow img{
  object-fit: cover;
}

.image-container{
  max-height: 350px;
}

@media screen and (max-width: 480px){
  img{
    max-height: 150px;
  }
}