html{
  color: black;
}

img{
  margin-bottom: 20px;
}

.navigation{
  margin-bottom: 40px;
}

.footer{
  margin-top: 40px;
  min-height: 40px;
}

.directions{
  margin-top: 20px;
}

.list-inline-item {
  padding: .5rem 1rem;
}